.textField {
    display: flex;
    flex-direction: column;
    gap: 5px;

    label {}

    .icon {
        cursor: pointer;
    }

    input {
        margin: 5px 0;
        padding: 10px;
        outline: 0.5px solid lightgray;
        border-style: none;
        border-radius: 5px;

        &:hover {
            outline: 1px solid grey;
        }

        &:focus {
            outline: 2px solid #F8545E;

        }
    }

    .error {
        color: red;
        font-size: 0.9rem;
        padding-left: 5px;
    }
}